/*
CSS Document
02-join-ok
*/


/* 모바일용 CSS */

.join_ok_section {
  width: 100%;
  height: 100%;
  background: url('../../images/02-join/join_bg.png') repeat top;
  background-size: 100%;

  text-align: center;
  padding: 50px 0;
  box-sizing: border-box;
}

.join_ok_section h2 {
  color: #fff;
  font-size: 2.250em;
  text-shadow: 1px 1px 2px rgba(232, 26, 70, .9);
  font-weight: normal;
}

.join_ok_section .join_ok_pg {
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  padding: 40px 0;
  box-sizing: border-box;
  background: rgba(225, 225, 225, .9);
  border-radius: 8px;

  position: relative;
}

.join_ok_pg h3 {
  color: #e81a46;
  font-size: 1.875em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.join_ok_pg p {
  font-size: 1.375rem;
  margin: 40px auto;
}

.join_ok_pg p strong {
  text-decoration: underline;
}

.join_ok_pg p span {
  display: block;
}

.join_ok_pg ul {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  font-size: 0.75rem;
}

.join_ok_pg li {
  display: block;
  line-height: 30px;
  background: linear-gradient(to bottom, #fff, rgb(230, 230, 230));
  border: 1px solid #8c8c8c;
  border-bottom: 4px solid #8c8c8c;;
  width: 120px;
  /* padding: 0 10px;
  box-sizing: border-box; */
  margin-bottom: 20px;
  border-radius: 15px;
}

.join_ok_pg li a {
  display: block;
  height: 100%;
}

.join_ok_pg li:hover {
  color: #e81a46;
  font-weight: bold;
  border-color: #e81a46;
  background: linear-gradient(to bottom, #fff, rgb(255, 228, 228));
}

.join_ok_pg li:active {
  border: 1px solid #e81a46;
  border-top: 4px solid #e81a46;background: linear-gradient(to top, #fff, rgb(255, 228, 228));
  
}

/* 태블릿용 CSS */
@media all and (min-width: 768px) {



}

/* PC용 CSS */
@media all and (min-width: 1024px) {

  .join_ok_pg h3 {
    font-size: 2.125rem;
  }

  .join_ok_pg p {
    font-size: 1.5rem;
  }

  .join_ok_pg ul {
    font-size: 0.875rem;
  }
}