/*
event_list.css
*/

/* list_section 영역 */

.list_section {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.list_section h2 {
  width: 50%;
  padding: 3px 0;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}

.list_section h3 {
  width: 50%;
  text-align: right;
  padding: 3px 0;
  padding-right: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}


.list_section .event_list_table {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid #8c8c8c;
  font-size: 0.75rem;
  text-align: center;

  table-layout: fixed;
}

.event_list_table thead {
  background: #000;
  color: #fff;
  font-weight: bold;
  width: 100%;
}

.event_list_table thead tr {
  width: 100%;
}


.event_list_table tr th {
  border: 1px solid #999;
  vertical-align: middle;
  height: 34px;
}


.event_list_table tbody td {
  height: 32px;
  line-height: 1.5;
  padding: 3px 8px;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event_list_table tbody:nth-child(2n+1) {
  background: #eee;
}

.event_list_table tbody .title,
.event_list_table tbody .content,
.event_list_table tbody .b_file {
  text-align: left;
}

.event_list_table tr:nth-child(even) {
  background: #999;
}

.idx,
.content,
.b_file,
.auth_nm,
.lock_post,
.pwd,
.ip,
.hit {
  display: none;
}

.no {
  width: 8%
}

.title {
  width: 35%;
}

.wr_date {
  width: 21%;
}

.edit {
  width: 13%;
}

.delete {
  width: 13%;
}

.email_desc,
.addr_desc {
  text-align: left;
}

.edit_btn,
.del_btn {
  text-decoration: underline;
}

.edit_btn:hover,
.del_btn:hover {
  font-weight: bold;
}



.wr_btn {
  width: 100%;
  display: block;
  border-top: 1px solid #000;
}

.wr_btn button {
  float: right;
  margin: 5px;
  text-align: center;
  line-height: 28px;
  width: 100px;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wr_btn button:hover {
  background: #3c3c3c;
}

.wr_btn button:active {
  opacity: .8;
}






.pager {
  width: 100%;
  margin: 15px auto;
  text-align: center;
  font-size: 0.75rem;
}

.pager a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #eee;
  border-radius: 10px;
  margin: 0 2px;
  transition: all .3s;
}

.pager .list_prev_btn {
  width: 30px;
  height: 30px;
  background: url('../../images/07-branch/prev_btn.png') no-repeat center;
  background-size: auto 30px;
  text-indent: -9999px;

  margin-right: 10px;
  transition: all .3s;
}

.pager .list_next_btn {
  width: 30px;
  height: 30px;
  background: url('../../images/07-branch/next_btn.png') no-repeat center;
  background-size: auto 30px;
  text-indent: -9999px;

  margin-left: 10px;
  transition: all .3s;
}

.pager a:hover {
  transform: scale(1.1);
}

.pager a:active {
  opacity: .6;
}

.pager .num_btn {
  box-shadow: inset -2px -2px 4px rgba(125, 125, 125, .3);
}

.pager .num_btn:hover {
  opacity: .6;
  color: #e81a46
}

.pager .num_btn:active {
  box-shadow: inset 2px 2px 4px rgba(125, 125, 125, .3);
}





/* 태블릿용 CSS */
@media all and (min-width: 768px) {

  /* list_section 영역 */

  .idx,
  .content,
  .b_file,
  .auth_nm,
  .lock_post,
  .pwd,
  .ip,
  .hit {
    display: table-cell !important;
  }

  .no {
    width: 4%;
  }

  .title {
    width: 20%;
  }

  .content {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .b_file {
    width: 7%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .auth_nm {
    width: 10%;
  }

  .wr_date {
    width: 10%;
  }

  .hit {
    width: 5%;
  }

  .lock_post {
    width: 5%;
  }

  .pwd {
    width: 6%;
  }

  .ip {
    width: 6%;
  }

  .edit,
  .delete {
    width: 6%;
  }


}

/* PC용 CSS */
@media all and (min-width: 1024px) {}
