/*
CSS Document
community
*/


/* 모바일용 CSS */

/* 메인 img 영역 CSS  */
.main_section {
  width: 100%;
  height: auto;
  background: #000;
}

.main_img {
  position: relative;
}

.main_img img {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.aside {
  display: none;
}


/* contents CSS */
.contents {
  width: 100%;
  margin: 0 auto;
  padding: 60px 5%;
  box-sizing: border-box;
  text-align: center;
}

/* community 영역 CSS */
.community_section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}


.community_section h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #e81a46;
}

.community_section p {
  font-size: 0.875rem;
  margin-top: 10px;
  color: #585859;
}

.community_section h3 {
  margin-top: 40px;
  font-size: 1rem;
}

.community_section h3 span {
  font-size: 1.25rem;
  font-weight: bold;
}




/* 커뮤니티 테이블 CSS */
.community_table {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 1px solid #000;

  table-layout: fixed;
}

.community_table thead {
  color: #fff;
  background: #000;
  border-radius: 50px;
  /* text-shadow: 1px 1px 2px rgba(232, 26, 70, .5); */
}

.community_table thead tr th {
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 0.75rem;

}

.community_table tbody {
  font-size: 0.75rem;
}

.community_table tbody tr td {
  padding: 20px 10px;
  box-sizing: border-box;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.community_table tbody:nth-child(2n) {
  background: #eee;
}

.community_table .no,
.community_table .auth_nm,
.community_table .wr_date,
.community_table .hit {
  display: none;
}

/* .community_table tbody .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */


.community_table tbody .title:hover {
  font-weight: bold;
  text-decoration: underline;
}

.community_table tbody .title span:hover {
  text-decoration: none;
}

.community_table tbody .title:active {
  opacity: .7;
}


.community_table .re_ct {
  color: #e81a46;
}

.community_table .lock_img {

  width: 12px;
  height: auto;
  margin: 0 3px;
}

.community_table .new_img img {
  display: block;
  width: 34px;
  height: auto;
}

.community_section .wr_btn {
  position: absolute;
  bottom: -50px;
  left: 10px;

  width: 80px;
  height: 30px;
  line-height: 30px;
  border: none;
  background: #000;
  font-size: 0.75rem;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.community_section .wr_btn:hover {
  background: #3b3b3b;
}

.community_section .wr_btn:active {
  opacity: .7;
}


/* search_box 영역 CSS */
.search_box {
  width: 98%;
  margin: 20px auto;
  max-width: 1000px;
  /* margin: 30px 0 40px 0;
  margin: 1.875rem 0 2.500rem 0; */
}

.search_box form {
  float: right;
}

.search_box input {
  width: 130px;
  height: 30px;
  font-size: 0.75rem;
  display: inline-block;
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
  color: #585858;
  border: 0;
  border-bottom: 2px solid #000;
  transition: all .4s;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}


.search_box input:focus,
.search_box input:hover {
  border-bottom: 2px solid #e81a46;
}

.search_box .search_sel_box {
  display: none;
}

.search_box button {
  width: 50px;
  height: 30px;
  background: url('../../images/main/search-b.png') no-repeat center;
  background-size: 24px;
  text-indent: -9999px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;

  box-shadow: 2px 2px 3px rgba(170, 55, 55, 0.6),
    0px 0px 1px rgba(255, 231, 231, 0.2),
    -2px -2px 10px rgba(243, 243, 243, 0.6),
    inset 0px 0px 4px rgba(243, 243, 243, 0.8),
    inset 7px 7px 15px rgba(189, 141, 141, 0.2),
    inset -5px -5px 20px rgba(255, 255, 255, 0.2);


  transition: all .3s;
}

.search_box button:hover {
  background: url('../../images/main/search-p.png') no-repeat center;
  background-size: 24px;
}

.search_box button:active {
  box-shadow: 2px 2px 5px rgba(235, 235, 235, 0.6),
    0px 0px 1px rgba(255, 231, 231, 0.2),
    -2px -1px 3px rgba(170, 55, 55, 0.5),
    inset 0px 0px 4px rgba(243, 243, 243, 0.8),
    inset 7px 7px 15px rgba(255, 255, 255, 0.2),
    inset -5px -5px 20px rgba(189, 141, 141, 0.2);
}




/* 페이지 영역 */

.pager {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 0.75rem;
}

.pager a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #eee;
  border-radius: 10px;
  margin: 0 2px;
  transition: all .3s;
}

.pager .list_prev_btn {
  width: 30px;
  height: 30px;
  background: url('../../images/07-branch/prev_btn.png') no-repeat center;
  background-size: auto 30px;
  text-indent: -9999px;

  margin-right: 10px;
  transition: all .3s;
}

.pager .list_next_btn {
  width: 30px;
  height: 30px;
  background: url('../../images/07-branch/next_btn.png') no-repeat center;
  background-size: auto 30px;
  text-indent: -9999px;

  margin-left: 10px;
  transition: all .3s;
}

.pager span a:hover {
  transform: scale(1.1);
}

.pager span a:active {
  opacity: .6;
}

.pager .num_btn {
  box-shadow: inset -2px -2px 4px rgba(125, 125, 125, .3);
}

.pager .num_btn:hover {
  opacity: .6;
  color: #e81a46
}

.pager .num_btn:active {
  box-shadow: inset 2px 2px 4px rgba(125, 125, 125, .3);
}



/* 비밀글 열람 모달 창 */
#ck_read_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);

  z-index: 1;
  display: none;
}

#ck_read_modal.active {
  display: block;
}

#ck_read_modal .ck_read_modal_body {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 30px 30px;
  box-sizing: border-box;
  background: #fff;
  border-top: 6px solid #eee;
  border-bottom: 6px solid #eee;

  text-align: center;
  position: relative;
  top: 30%;
}

.ck_read_modal_body h3 {
  width: 100%;
  line-height: 40px;
  border-bottom: 1px solid #000;
  margin: 0px auto;
  margin-bottom: 20px;
}


.ck_read_modal_body form {
  width: 70%;
  margin: 0 auto;
}

.ck_read_modal_body #pwd_chk {
  display: block;
  width: 60%;
  height: 20px;
  float: left;
  outline: 0;
}

.ck_read_modal_body .del_btn {
  display: block;
  width: 35%;
  line-height: 20px;
  float: right;
}

.ck_read_modal_body .close_btn {
  width: 20px;
  height: 20px;
  background: url('../../images/main/close.png') no-repeat center;
  background-size: 20px;
  text-indent: -9999px;

  border: none;
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.ck_read_modal_body .close_btn:hover {
  background: url('../../images/main/close-p.png') no-repeat center;
  background-size: 20px;
}











/* 태블릿용 CSS */
@media all and (min-width: 768px) {


  /* aside */
  .aside {
    display: block !important;
    width: 480px;
    height: 60px;

    position: absolute;
    bottom: 4px;
    left: 50%;
    margin-left: -240px;
  }

  .aside li {
    width: 160px;
    line-height: 60px;
    float: left;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
  }

  .aside li a {
    display: block;
    height: 100%;
  }

  .aside .on_menu {
    display: block;
    color: #e81a46;
    font-weight: bold;
  }

  .aside .on_menu:after {
    border-bottom: 4px solid #e81a46;
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    width: 60%;

  }

  .aside .aside_menu {
    display: block;
  }

  .aside .aside_menu:after {
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
    width: 0;
  }

  .aside .aside_menu:hover:after {
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 60%;

    font-weight: bold;
    border-bottom: 4px solid #e81a46;
  }

  .aside .aside_menu:hover {
    color: #e81a46;
    font-weight: bold;
    transition: all .4s;
  }



  .community_section h2 {
    font-size: 2.375rem;
  }


  .community_table .community_tit {
    padding-left: 20px;
    text-align: left;
  }

  .community_table .no,
  .community_table .auth_nm,
  .community_table .wr_date,
  .community_table .hit {
    display: table-cell;

  }

  .community_table .no {
    width: 11%;
  }

  .community_table .title {
    width: 47%;
  }

  .community_table .auth_nm {
    width: 15%;
  }

  .community_table .wr_date {
    width: 15%;
  }

  .community_table .hit {
    width: 12%;
  }

  .community_table tbody .title {
    text-align: left;
  }

  /* search_sel_box 영역 */
  .search_box .search_sel_box {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 80px;
    outline: none;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: #000;
    color: #fff;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 0.75rem;
  }

  .search_box fieldset {
    display: flex;
    flex-flow: row wrap;
  }

  .search_box input {
    width: 180px;
  }


}





/* PC용 CSS */
@media all and (min-width: 1024px) {

  .community_table h2 {
    font-size: 2.75rem;
  }
}